Añadir comentario: <p>

<form method="post" action="/entrenes/<%=entreneId%>/comments/" >      
  <textarea id="comment" name="comment[texto]" value=""> </textarea><p>
  <button type="submit">Enviar</button>
</form>