*                    { margin: 0; padding: 0; }
body                 { font: 24px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 22px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center; font: 12px Georgia, serif;}
nav span             { margin: 0px 10px 0px 0px;}



input{padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
font-size: 20px;
}
input:focus {border-color:#333; }

button {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
font-size: 20px;
}

textarea{padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
width: 700px;
height: 300px;
font-size: 20px;
}
textarea:focus {border-color:#333; }


/*#f1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/

#foot{
  font-size: 10px;
}

.labent{
	margin-left: -90px;
}

#caj{
	width: 400px;
}

#logo{
	margin-left: -70px;
}