<label for="tit" class="rem">Título:</label>
<input type="text" id="caj" name="entrene[titulo]" value="<%= entrene.titulo %>"/> <p>
<br>
<label for="tit" class="rem">Fecha:</label>
<input type="text" id="caj" name="entrene[fecha]" value="<%= entrene.fecha %>"/> <p>
<br>
<label for="ent" class="labent">Entrenamiento:</label>
<textarea id="caj" name="entrene[entrenamiento]"><%= entrene.entrenamiento %></textarea> <p>
<br>
<a href="/entrenes/entrene"><button type="button">Cancelar</button></a>
<button type="submit">Guardar</button>

