<label for="ent" class="rem">Entrenamiento:</label>
<input type="text" id="ent" name="entrene[entrenamiento]" value="<%= entrene.entrenamiento %>"/> <p>
<a href="/entrenes/entrene"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">

