<label for="tit" class="rem">Titulo:</label>
<input type="text" id="caj" name="entrene[titulo]" value="<%= entrene.titulo %>"/> <p>
<label for="ent" class="rem">Entrenamiento:</label>
<textarea id="caj" name="entrene[entrenamiento]"><%= entrene.entrenamiento %></textarea> <p>
<a href="/entrenes/entrene"><button type="button">Cancelar</button></a>
<button type="submit">Guardar</button>

