<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"></meta>
    <title>Entrena Me!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Entrena Me: el portal para tus entrenamientos</h2>
    <p><%= entrene %></p>
	
  </body>
</html>
